@model Repository.Models.Plant

<div class="plant" id="@Model.PlantId">
   <div class="info">
      <div>PlantId: <span>@Model.PlantId</span></div>
      <div>DisplayName: <span>@Model.Name</span></div>
      <div>Date added: <span>@Model.DateAdded</span></div>
   </div>
   
   <div class="data">
      @await Html.PartialAsync("_arduino_data_partial.cshtml", @Model.Datas.LastOrDefault())
   </div>
</div>


